/* General code */

*{
  margin: 0;
  padding: 0;
}

body{
    background-color: rgb(221, 230, 237);
}

@font-face {
  font-family: 'Genova';
  src: url('../../fonts/Genova.otf');
}

/* header */

.header{
  height: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: black;

  transition: background-color 2000ms;
}

.header.sticking{
  background-color: black;
  font-family: 'Genova';
}

.icon{
  margin-top: 3px;
  margin-left: 80px;
  height: 95px;
}

.right{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-items: center;

  padding-left: 30px;
  padding-right: 30px;
}

.areas-text{
  font-size: 25px;
  text-decoration: none;
  color: rgb(157, 178, 191);

  font-family: 'Genova';
}

.areas-text:hover{
  opacity: 70%;
}

#login-size{
  font-size:36px
}

/* main */

.main{
  margin-top: 300px; 
  margin-bottom: 138px;
}

.contect-login{
  display: grid;
  place-items: center;
}

.login-countainer{
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: rgb(221, 230, 237);
 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 74px;
}
 
.box{
  background-color: rgb(221, 230, 237);
 
  border: 2px solid;
  border-radius: 10px;
 
  padding: 40px;
}
 
.login-title{
  margin-bottom: 10px;
  font-family: 'Genova';
}
 
.login-text {
font-family: 'Genova';
}
 
#input{
  padding-left: 3px;
  padding-right: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
 
  margin-top: 15px;

  border-radius: 10px;
  font-family: 'Genova';
}
 
.login-button{
  background-color: rgb(157, 178, 191);
  font-family: 'Genova';
 
  padding: 7px;

  padding-left: 35px;
  padding-right: 45px;
 
  margin-left: 70px;
  margin-top: 15px;
 
  border: solid 1px;
  border-radius: 10px;
 
  cursor: pointer;
}
 
.login-button:hover{
  background-color: rgb(179, 194, 204);
}
 
.login-button:active{
  background-color: rgb(157, 178, 191);
}
 
.box-resgister{
  background-color: rgb(221, 230, 237);
 
  margin-top: 15px;
 
  padding-left: 3px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 35px;
 
  border: 2px solid;
  border-radius: 10px;
}
 
.align-register{ 
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-family: 'Genova';
  font-size: 20px;
 
  margin-top: 30px;
}
 

/* footer */

.footer{
  height: 150px;

  font-size: 30px;

  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
 
  background-color: black;
  color: rgb(157, 178, 191);;
  font-family: 'Genova';

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.icons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

.central-link{
  display: grid;
  place-items: center;
  font-size: 25px;
  color: rgb(39, 55, 77);
}

#images{
  height: 40px;
}

#images2{
  height: 50px;
}

@media (max-width: 1680px) {
  
  .areas-text{
    font-size: 22px;
    text-decoration: none;
    color: rgb(157, 178, 191);
  
    font-family: 'Genova';
  }

  #login-size{
  font-size: 33px
}

}

@media (max-width: 1530px) {
  
  .areas-text{
    font-size: 20px;
    text-decoration: none;
    color: rgb(157, 178, 191);
  
    font-family: 'Genova';
  }

    #login-size{
    font-size: 31px
  }  

  .icon{
    margin-top: 3px;
    margin-left: 80px;
    height: 85px;
  }

  

}

@media (max-width: 1390px) {
  
  .areas-text{
    font-size: 17px;
    text-decoration: none;
    color: rgb(157, 178, 191);
  
    font-family: 'Genova';
  }

    #login-size{
    font-size: 30px
  }

  .icon{
    margin-top: 3px;
    margin-left: 80px;
    height: 85px;
  }

}

@media (max-width: 1230px) {
  
  .areas-text{
    font-size: 15px;
    text-decoration: none;
    color: rgb(157, 178, 191);
  
    font-family: 'Genova';
  }

    #login-size{
  font-size: 28px
  }

  .icon{
    margin-top: 3px;
    margin-left: 80px;
    height: 85px;
  }

}

@media (max-width: 1130px) {
  
  .areas-text{
    font-size: 12px;
    text-decoration: none;
    color: rgb(157, 178, 191);
  
    font-family: 'Genova';
  }

    #login-size{
    font-size: 25px
  } 

  .icon{
    margin-top: 3px;
    margin-left: 80px;
    height: 75px;
  }

}

@media (max-width: 890px) {
  
  .areas-text{
    font-size: 10px;
    text-decoration: none;
    color: rgb(157, 178, 191);
  
    font-family: 'Genova';
  }

    #login-size{
    font-size: 20px
  } 

  .icon{
    margin-top: 10px;
    margin-left: 80px;
    height: 65px;
  }

}